celery[redis]==4.3.0
Flask
flower
gunicorn

# NOTE: Kombu 4.6.5 results in a build failure. Bumping down to 4.6.4
#       See this github issue: https://github.com/celery/kombu/issues/1063
kombu==4.6.4
